# Airtable
AIRTABLE_BASE_ID=your_airtable_base_id
AIRTABLE_PAT=your_airtable_personal_access_token

AIRTABLE_SESSIONS_TABLE=Sessions
AIRTABLE_CONTACTS_TABLE=Contacts

# Google
GOOGLE_CALENDAR_ID=primary

MY_EMAILS=you@domain.com,other@domain.com
SELF_EMAILS=you@domain.com,you@gmail.com
AIRTABLE_SESSION_TIME_UTC_FIELD=SessionTimeDate (UTC)
